.slideout-icon {
  font-size: 4em !important;
}

/*
If you are planning on using the sidenav you will have to offset your content by the width of the side menu.
Place the padding on where the offset content will be, which in our case is in header, main and footer. - Materialize Docs
*/

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* Settings Page - work-collections */
.row {
  border-style: hidden;
}
 
#settings-page-collection .collection {
   border: hidden;
}
 
#settings-page-collection .collection-header {
  font-size: 1.64rem;
  font-weight: 500;
  
}
#settings-page-collection .collection-item {
  border-style: hidden;
}
#settings-page-collection .collection-item.avatar {
  height: auto;
}
#settings-page-collection p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
#settings-page-collection p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}