<!doctype html>
<html ng-app="application" class="dark-theme" id="theme">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM | CLIENT</title>
    <!--
CSS
All of our CSS has been minified and put together into a single file for the app to reference
-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!--
JS
All of our required JS has been concat'd and minified.
-->
    <script type="text/javascript" src="assets/js/assets.min.js"></script>

    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/services.js"></script>
    <script type="text/javascript" src="assets/js/controllers.js"></script>

  </head>

  <body>
    <div>
      <!-- This is the sidebar -->
      <ul id="slide-out" class="side-nav fixed">
        <li class="center">
          <i class="large material-icons">account_circle</i>
          <p ng-controller="ContactController">{{ current_interface.organization }}</p>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">
                <i class="material-icons">person_pin</i>
                Contacts
              </a>
              <div class="collapsible-body">
                <ul ng-controller="ContactController">
                  <li><a class="activatable" href="#!/contacts">All</a></li>
                  <li ng-repeat="tag in tags">
                    <a ng-href="/#!/contacts/{{ tag.name }}" class="activatable">
                      {{ tag.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="#!/statistics" class="activatable collapsible-header"><i class="material-icons">insert_chart</i>Statistics</a></li>
        <li><a href="#!/settings" class="activatable collapsible-header"><i class="material-icons">settings_applications</i>Settings</a></li>

        <!-- TBD: Float this button to the bottom of the left area -->
        <li id="logoutButton" ng-controller="LogoutController">
          <a class="collapsible-header" ng-click="check();"><i class="material-icons">exit_to_app</i>Logout</a>
        </li>
      </ul>
    </div>
    <!-- The button that shows up when it collapstes -->
    <a data-activates="slide-out" class="button-collapse" ><i class="material-icons slideout-icon">keyboard_arrow_down</i></a>

    <!-- This is where the views get served up in this ng view div -->
    <div class="main">
      <div ng-view></div>
    </div>

    <ng-include src="'views/_logout_modal.html'"></ng-include>

  </body>

  <script>
    $(".button-collapse").sideNav({
      menuWidth: 200,
      edge: 'left',
    }
                                 );
    $('.collapsible').collapsible();
  </script>


</html>
