<!doctype html>

<div class="card" id="contact-show-card" style="display:none;">
  <div class="row">
    <div class="col s12">
      <h3>
        Contact Create/Edit
      </h3>
      <div class="row">
        <div ng-repeat="field in current_fields">
          <div class="col s12 m6">
            <input placeholder="{{ current_contact.x[field.db_name] }}" id="{{ field.db_name }}" type="text" class="validate" ng-model="new_record.record[field.db_name]">
            <label for="{{ field.db_name }}">{{ field.name }}</label>
            <br><br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m4 offset-m4">
          <a class="waves-effect waves-light btn" ng-click="saveRecord();"><i class="material-icons right">send</i>Save</a>
        </div>
      </div>
    </div>
  </div>
</div>
