<!doctype html>
<div class="" id="contact-info-card" style="margin-left: 1.5em;">
  <div class="row">
    <div class="col s12">
      <h3 ng-if="current_contact._id">
        <span class="wedit" w-editable style="display: inline;">
          {{ current_contact.x.first_name }} {{ current_contact.x.last_name }}
        </span>
      </h3>
      <h3 ng-if="!(current_contact._id)">
        Post Contact
      </h3>
      <table ng-if="current_contact._id" class="responsive-table">
        <tr>
          <td>
            <i class="material-icons left">phone</i>Phone:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.phone_num | tel }}
            </span>
          </td>
          <td>
            <i class="material-icons left">date_range</i>Created:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.created_date | date:'medium'}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="material-icons left">email</i>Email:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.email_address }}
            </span>
          </td>
          <td>
            <i class="material-icons left">date_range</i>Modified:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.updated_at | date:'medium' }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="material-icons left">account_balance</i>Organization:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.organization }}
            </span>
          </td>
        </tr>
      </table>

      <div class="row">
        <div ng-repeat="section in current_fields | orderBy:'-name' : true">
          <h4 ng-if="section.name != '_contacts'">
            {{ section.name }}
          </h4>
          <div class="row">
            <div ng-repeat="field in section.fields | orderBy:'-order' : true " ng-hide="field.master">
              <div class="col s12 m6 input-field">
                <input id="{{ field.db_name }}" type="text" crm-type="{{ field.type }}" class="field-selector" ng-model="current_contact.x[field.db_name]" readonly onclick="editable(this);" onblur="noneditable(this);">
                <label for="{{ field.db_name }}" class="light">
                  {{ field.name }}
                </label>
                <a id="{{ field.db_name }}-icon" style="visibility: hidden; margin: .3em; cursor: pointer;" class="right" ng-click="fieldModal();">
                  <i class="material-icons right" >settings</i>
                </a>
              </div>
            </div>
          </div>

          <!--
          <div class="row" style="display: block;">
            <h6>
              New Field
            </h6>
            <div class="col s6 m3 input-field">
              <input name="" id="new-field-label-{{ section.name }}" type="text" />
              <label for="new-field-input-{{ section.name }}">Field Label</label>
            </div>
            <div class="col s6 m3 input-field">
              <input name="" id="new-field-value-{{ section.name }}" type="text" />
              <label for="new-field-input-{{ section.name }}">Field Value</label>
            </div>
            <div class="col s6 m3">
              <a class="btn" ng-click="addField(section.name, current_contact);"><i class="material-icons left">add_box</i>Add Field</a>
            </div>
          </div>
          -->

          <div class="row" id="new_field">
            <div class="col s12">
              <button class="btn btn-small">
                <i class="material-icons left">text_fields</i>
                Add Field
              </button>
            </div>
          </div>

        </div><!-- end repeat of section -->
      </div><!-- end repeat section outer row -->

      <div class="row nogut">
        <div class="col s12" style="display: none; position: relative;" id="new_section">
          <div class="col s12 m6 input-field">
            <input type="text" id="new_section_text">
            <label for="new_section_text">Section Name</label>
            <i class="material-icons" style="position: absolute; top: 1em; right: 0;" ng-click="newDataSection()">check</i>
          </div>
        </div>
        <div class="col s12">
          <button class="btn-small btn" style="display: block;" onclick="$('#new_section').css('display','block');">
            <i class="material-icons left">list</i>New Section
          </button>
        </div>
      </div>

      <!-- tags -->
      <div class="row" style="margin-top: 2em;">
        <div class="col s12 m6">
          <div id="chip-section">
            <input placeholder="+Tag" type="text" id="new-tag" style="margin-top: .5em;" />
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom:0;">
        <div class="col s12 m12">
          <button class="btn-large" style="margin: 0 auto; display: inherit;" ng-if="current_contact._id" ng-click="updateRecord(current_contact);">Save Changes</button>
        </div>
        <div class="col s12 m12">
          <button class="btn-large" style="margin: 0 auto; display: inherit;" ng-if="!(current_contact._id)" ng-click="postRecord(current_contact);">Post Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function editable(el){
    el.removeAttribute("readonly");
    var icon_id = el.id + "-icon";
    var icon = document.getElementById(icon_id);
    if(icon){
      icon.style.opacity = 1;
      icon.style.visibility = "visible";
      icon.style.WebkitTransition = "visibility linear .5s";
      icon.style.WebkitTransition = "opacity linear .5s";
    }
  };

  function noneditable(el){
    el.setAttribute("readonly", "");
    var icon_id = el.id + "-icon";
    var icon = document.getElementById(icon_id);
    //prevent it from disapearing for 150ms or else the button cant be clicked

    if(icon){
      setTimeout(function(){
        icon.style.visibility = "hidden";
        icon.style.opacity = 0;
        icon.style.WebkitTransition = "visibility linear .4s";
        icon.style.WebkitTransition = "opacity linear .4s";
      }, 200);
    }
  };

  $( "#new-tag" ).keypress(function(e) {
    if(e.keyCode === 13 || e.keyCode === 44){
      var tag_name = $('#new-tag').val();
      var tag_id = 'tag-id-' + tag_name;
      tag_id = tag_id.replace(/\s+/g, '-');
      if(!(document.getElementById(tag_id))){
        $("<div class=\"chip\" id=\"" + tag_id + "\">" + tag_name + " <i class=\"close material-icons\" onclick=\"closeTag(" + tag_id + ")\">close</i>").insertBefore('#new-tag');
      }
      setTimeout(function(){
        $('#new-tag').val('');
      }, 99);
    }
  });

  function closeTag(tid){
    document.getElementById(tid).parentNode.removeChild(document.getElementById(tid));
  };

</script>
