<!DOCTYPE HTML>
<div class="card" id="contact-form-card" style="display:none;">
	<form class="row" id="contact-form">
		<h4 class="col s12">Create/Edit Contact</h4>
		<div class="col s5 input-field">
			<input type="text" id="contact-name">
			<label for="contact-name">Name</label>
		</div>
		<div class="col s5 input-field">
			<input type="text" id="contact-email">
			<label for="contact-email">Email</label>
		</div>
		<div class="col s2 input-field">
			<input type="text" id="contact-phone">
			<label for="contact-phone">Phone #</label>
		</div>
		
		<!-- TBD: Render other fields for the contact dynamically -->
		
		<a href="#" class="col 12 btn" type="submit">Submit</a>
	</form>
</div>
