<!doctype html>
<div class="" id="contact-info-card" style="margin-left: 1.5em;">
  <div class="row">
    <div class="col s12">
      <h3 ng-if="current_contact._id">
        <span class="wedit" w-editable style="display: inline;">
          {{ current_contact.x.first_name }} {{ current_contact.x.last_name }}
        </span>
      </h3>
      <h3 ng-if="!(current_contact._id)">
        Post Contact
      </h3>
      <table ng-if="current_contact._id" class="responsive-table">
        <tr>
          <td>
            <i class="material-icons left">phone</i>Phone:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.phone_num | tel }}
            </span>
          </td>
          <td>
            <i class="material-icons left">date_range</i>Created:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.created_date | date:'medium'}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="material-icons left">email</i>Email:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.email_address }}
            </span>
          </td>
          <td>
            <i class="material-icons left">date_range</i>Modified:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.updated_at | date:'medium' }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="material-icons left">account_balance</i>Organization:
          </td>
          <td>
            <span class="wedit">
              {{ current_contact.x.organization }}
            </span>
          </td>
        </tr>
      </table>

      <div class="row">
        <div ng-repeat="section in current_fields | orderBy:'-name' : true" ng-if="section.name != '_contacts' || !current_contact._id">
          <h4 ng-if="section.name != '_contacts'">
            {{ section.name }}
          </h4>
          <div ng-repeat="field in section.fields | orderBy:'-order' : true ">
            <div class="col s12 m4">
              <input id="{{ field._id }}" type="text" class="field-selector" ng-model="current_contact.x[field.db_name]">
              <label for="{{ field._id }}">
                {{ field.name }}
              </label>
            </div>
          </div>
          <!-- add field button -->
          <div class="row nogut">
            <div class="col s12" ng-show="current_contact.new_field[$index]" id="new_field">
              <div class="col s6 m3 input-field">
                <input type="text" id="new_field_name[{{ $index }}]" ng-model="current_contact.new_field[$index].name">
                <label for="new_field_name[{{ $index }}]">Field Name</label>
              </div>
              <div class="col s6 m3 input-field">
                <input type="text" id="new_field_type[{{ $index }}]" ng-model="current_contact.new_field[$index].type">
                <label for="new_field_type[{{ $index }}]">Type</label>
              </div>
              <div class="col s1">
                <i class="material-icons" style="font-size: 2em;" ng-click="newField($index, section, 'Contacts')">check</i>
                <i class="material-icons" style="font-size: 2em;">cancel</i>
              </div>
            </div>
            <div class="col s12">
              <button class="btn-small btn" style="display: block;" ng-click="current_contact.new_field[$index] = {};">
                <i class="material-icons left">list</i>New Field
              </button>
            </div>
          </div>
          <!-- end add field -->
        </div>
      </div><!-- end repeat of section -->
    </div><!-- end repeat section outer row -->

    <div class="row nogut">
      <div class="col s12" ng-show="current_contact.new_section" id="new_section">
        <div class="col s12 m6 input-field">
          <input type="text" id="new_section_text">
          <label for="new_section_text">Section Name</label>
          <i class="material-icons" style="position: absolute; top: 1em; right: 0;" ng-click="newDataSection()">check</i>
        </div>
      </div>
      <div class="col s12">
        <button class="btn-small btn" style="display: block;" ng-click="current_contact.new_section = true;">
          <i class="material-icons left">list</i>New Section
        </button>
      </div>
    </div>

    <!-- tags -->
    <div class="row" style="margin-top: 2em;">
      <div class="col s12 m6">
        <div id="chip-section">
          <input placeholder="+Tag" type="text" id="new-tag" style="margin-top: .5em;" />
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom:0;">
      <div class="col s12 m12">
        <button class="btn-large" style="margin: 0 auto; display: inherit;" ng-if="current_contact._id" ng-click="updateRecord(current_contact);">Save Changes</button>
      </div>
      <div class="col s12 m12">
        <button class="btn-large" style="margin: 0 auto; display: inherit;" ng-if="!(current_contact._id)" ng-click="postRecord(current_contact);">Post Contact</button>
      </div>
    </div>
  </div>
</div>



<script>
  function editable(el){
    el.removeAttribute("readonly");
    var icon_id = el.id + "-icon";
    var icon = document.getElementById(icon_id);
    if(icon){
      icon.style.opacity = 1;
      icon.style.visibility = "visible";
      icon.style.WebkitTransition = "visibility linear .5s";
      icon.style.WebkitTransition = "opacity linear .5s";
    }
  };

  function noneditable(el){
    el.setAttribute("readonly", "");
    var icon_id = el.id + "-icon";
    var icon = document.getElementById(icon_id);
    //prevent it from disapearing for 150ms or else the button cant be clicked

    if(icon){
      setTimeout(function(){
        icon.style.visibility = "hidden";
        icon.style.opacity = 0;
        icon.style.WebkitTransition = "visibility linear .4s";
        icon.style.WebkitTransition = "opacity linear .4s";
      }, 200);
    }
  };

  $( "#new-tag" ).keypress(function(e) {
    if(e.keyCode === 13 || e.keyCode === 44){
      var tag_name = $('#new-tag').val();
      var tag_id = 'tag-id-' + tag_name;
      tag_id = tag_id.replace(/\s+/g, '-');
      if(!(document.getElementById(tag_id))){
        $("<div class=\"chip\" id=\"" + tag_id + "\">" + tag_name + " <i class=\"close material-icons\" onclick=\"closeTag(" + tag_id + ")\">close</i>").insertBefore('#new-tag');
      }
      setTimeout(function(){
        $('#new-tag').val('');
      }, 99);
    }
  });

  function closeTag(tid){
    document.getElementById(tid).parentNode.removeChild(document.getElementById(tid));
  };

</script>
