<!doctype html>
<div id="logout" class="modal" ng-controller="LogoutController">
  <form id="confirm-form">
    <div class="modal-content">
      <h3>Logout</h3>
      <br>
      <p>Are you sure you'd like to log out?</p>
    </div>
    <div class="modal-footer">
        <input ng-click="logout()" type="submit" value="Logout" class="modal-action waves-effect waves-green btn" id="logout-confirm">
        <input ng-click="" type="submit" value="Cancel" class="modal-action waves-effect waves-green btn" id="logout-deny" style="margin-right: 1em;">
    </div>
  </form>
</div>
