<!doctype html>
<div id="login" class="modal">
  <form id="login-form">
    <div class="modal-content">
      <h4>Login</h4>
      <p>You must login.</p>
      <div class="row">
        <div class="input-field col m6 s12">
          <input placeholder="" id="email" type="text" class="validtate" />
          <label for="email">Email</label>
        </div>
        <div class="input-field col m6 s12">
          <input placeholder="" id="password" type="password" class="validtate" />
          <label for="password">Password</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input ng-click="login()" type="submit" value="login" class="modal-action waves-effect waves-green btn" id="submit-btn">
    </div>
  </form>
</div>
