<!DOCTYPE HTML>
<div class="row">
  <div class="col s6 input-field">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" ng-model="query" type="text" autofocus>
    <label for="icon_prefix">Search</label>
  </div>
  <div class="col input-field s3 offset-s3 right-align">
    <select ng-model="filterGroup">
      <option value="">-- Select --</option>
      <option value="x.first_name">First Name</option>
      <option value="x.last_name">Last Name</option>
      <option value="+created_date">Date - Oldest</option>
      <option value="-created_date">Date - Newest</option>
      <option value="x.phone_num">Phone</option>
    </select>
    <label>Sort</label>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <table class="striped responsive-table z-depth-1">
      <thead>
        <tr>
          <th data-field="selector" class="center">
            <input type="checkbox" id="checkAll"/>
            <label for="checkAll"></label>
          </th>
          <th data-field="name">Name</th>
          <th data-field="email">Email</th>
          <th data-field="phone">Phone</th>
          <th data-field="date">Created</th>
          <th data-field="menu"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="c in contacts | filter:query | orderBy:filterGroup">
          <td style="text-align: center !important;">
            <input type="checkbox" id="{{c._id.substring(c._id.length-6, c._id.length)}} selector" value="{{ c._id }}" class="record-checkbox"/>
            <label for="{{c._id.substring(c._id.length-6, c._id.length)}} selector"></label>
          </td>
          <td style="cursor: pointer;" data-activates="slide-out2" data-sidenav="right" data-menuwidth="" data-closeonclick="false" ng-click="infoBar(c);">{{ c.x.first_name }} {{ c.x.last_name }} {{ c._id }}</td>
          <td style="cursor: pointer;" data-activates="slide-out2" data-sidenav="right" data-menuwidth="" data-closeonclick="false" ng-click="infoBar(c);">{{ c.x.email_address }}</td>
          <td style="cursor: pointer;" data-activates="slide-out2" data-sidenav="right" data-menuwidth="" data-closeonclick="false" ng-click="infoBar(c);">{{ c.x.phone_num | tel }}</td>
          <td style="cursor: pointer;" data-activates="slide-out2" data-sidenav="right" data-menuwidth="" data-closeonclick="false" ng-click="infoBar(c);">{{ c.created_date | date:'MMM d, y' }}</td>

          <td class="center">

            <div id="box-{{ c._id }}">

              <!-- #tag-box-input -->
              <i class="material-icons right" style="display: none; cursor: pointer;" id="tag-box-input-icon-{{ c_id }}" ng-click="closeTagBox(c._id)">cancel</i>
              <input id="tag-box-input-{{ c._id }}" style="display: none; height: 1.5em; width: 80%; margin: 0; cursor: auto; float: right;" type="text">
              <!-- #dropdown-box-[c._id] -->
              <div id="dropdown-box-{{ c._id }}">
                <a class="dropdown-button" style="text-align: center !important; cursor: pointer;" data-activates="demoDropdown{{ c._id }}" dropdown data-hover="false" >
                  <i class="material-icons left">more_vert</i>
                </a>
                <!-- Dropdown Structure -->
                <ul  id="demoDropdown{{ c._id }}" class="dropdown-content">
                  <li>
                    <a ng-click="tagBox(contacts[$index]._id);">Add Tag</a>
                  </li>
                  <li><a ng-click="deleteRecord(contacts[$index]._id);">Delete {{ c._id }}</a></li>
                </ul>
              </div>

            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 22px; right: 22px;">
  <a class="btn-floating btn-large green slideout-trigger" data-activates="slide-out2" data-sidenav="right" data-menuwidth="" data-closeonclick="false" ng-click="postBar();">
    <i class="large material-icons">note_add</i>
  </a>
  <ul>
    <!-- on the next button we need to pass the contact that has its checkbox selected -->
    <li><a class="btn-floating red" ng-click="multiDeleteRecord();"><i class="material-icons">cancel</i></a></li>
  </ul>
</div>

<ul id="slide-out2" class="side-nav" style="z-index: 999; float: right;">
  <div class="col s12">
    <div ng-include="'views/_contact_info.html'"></div>
    <div ng-include="'views/_contact_form.html'"></div>
  </div>
</ul>

<script>
  //This was in index.html but doesn't fire off unless you manually refresh the /contacts page
  $('select').ready(function() {
    setTimeout(function() {
      $('select').material_select();
    }, 100);
  });

  (function(){
    var slide_triggers = document.getElementsByClassName("slideout-trigger");
    for (var i=0; i < slide_triggers.length; i++) {
      slide_triggers[i].setAttribute("data-menuwidth", (window.innerWidth <= 992) ? (window.innerWidth * .80) : ((window.innerWidth - 100) * .75));
    }
  })();

  $("#checkAll").change(function () {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
  });

  document.addEventListener("touchstart", function(){}, true);


</script>
