<!DOCTYPE HTML>
<div class="row">
  <div class="col s6 input-field">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" ng-model="query" type="text">
    <label for="icon_prefix">Search</label>
  </div>
  <div class="col input-field s3 offset-s3 right-align">
    <select ng-model="sortType">
      <option value="">-- Select --</option>
      <option value="x.first_name">First Name</option>
      <option value="x.last_name">Last Name</option>
      <option value="+created_date">Date - Oldest</option>
      <option value="-created_date">Date - Newest</option>
      <option value="x.phone_num">Phone</option>
    </select>
    <label>Sort</label>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <table class="striped responsive-table z-depth-1">
      <thead>
        <tr>
          <th data-field="selector" class="center">
            <input type="checkbox" id="checkAll"/>
            <label for="checkAll"></label>
          </th>
          <th data-field="name" ng-click="sortType = 'x.first_name'; sortReverse = ((sortReverse) ? false : true);">
            Name
            <i ng-show="sortType === 'x.first_name' && !sortReverse" class="material-icons">keyboard_arrow_up</i><!-- up -->
            <i ng-show="sortType === 'x.first_name' && sortReverse" class="material-icons">keyboard_arrow_down</i>
          </th>
          <th data-field="email" ng-click="sortType = 'x.last_name'; sortReverse = ((sortReverse) ? false : true);">
            Email
            <i ng-show="sortType === 'x.last_name' && !sortReverse" class="material-icons">keyboard_arrow_up</i><!-- up -->
            <i ng-show="sortType === 'x.last_name' && sortReverse" class="material-icons">keyboard_arrow_down</i>
          </th>
          <th data-field="phone" ng-click="sortType = 'x.phone_num'; sortReverse = ((sortReverse) ? false : true);">
            Phone
            <i ng-show="sortType === 'x.phone_num' && !sortReverse" class="material-icons">keyboard_arrow_up</i><!-- up -->
            <i ng-show="sortType === 'x.phone_num' && sortReverse" class="material-icons">keyboard_arrow_down</i>
          </th>
          <th data-field="date" ng-click="sortType = '+created_date'; sortReverse = ((sortReverse) ? false : true);">
            Created
            <i ng-show="sortType === '+created_date' && !sortReverse" class="material-icons">keyboard_arrow_up</i><!-- up -->
            <i ng-show="sortType === '+created_date' && sortReverse" class="material-icons">keyboard_arrow_down</i>
          </th>
          <th data-field="menu"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="c in contacts | filter:query | orderBy:sortType:sortReverse">
          <td style="text-align: center !important;">
            <input type="checkbox" id="{{c._id.substring(c._id.length-6, c._id.length)}} selector" value="{{ c._id }}" class="record-checkbox"/>
            <label for="{{c._id.substring(c._id.length-6, c._id.length)}} selector"></label>
          </td>
          <td style="cursor: pointer;" onclick="wrmn.cron.toggleMenu('right');" ng-click="infoBar(c);">{{ c.x.first_name }} {{ c.x.last_name }}</td>
          <td style="cursor: pointer;" onclick="wrmn.cron.toggleMenu('right');" ng-click="infoBar(c);">{{ c.x.email_address }}</td>
          <td style="cursor: pointer;" onclick="wrmn.cron.toggleMenu('right');" ng-click="infoBar(c);">{{ c.x.phone_num | tel }}</td>
          <td style="cursor: pointer;" onclick="wrmn.cron.toggleMenu('right');" ng-click="infoBar(c);">{{ c.created_date | date:'MMM d, y' }}</td>

          <td class="center">
            <div id="box-{{ c._id }}">
              <i class="material-icons right" style="display: none; cursor: pointer;" id="tag-box-input-icon-{{ c_id }}" ng-click="closeTagBox(c._id)">cancel</i>
              <input id="tag-box-input-{{ c._id }}" style="display: none; height: 1.5em; width: 80%; margin: 0; cursor: auto; float: right;" type="text">
              <div id="dropdown-box-{{ c._id }}">
                <a class="dropdown-button" style="text-align: center !important; cursor: pointer;" data-constrainwidth="false" data-activates="demoDropdown{{ c._id }}" dropdown data-hover="false" >
                  <i class="material-icons left">more_vert</i>
                </a>
                <ul id="demoDropdown{{ c._id }}" class="dropdown-content">
                  <li>
                    <a ng-click="tagBox( c );"><i class="material-icons left">label_outline</i>Add Tag</a>
                  </li>
                  <li><a ng-click="deleteRecord( c._id );"><i class="material-icons left">delete</i>Delete</a></li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 22px; right: 22px; z-index: 20;">
  <a class="btn-floating btn-large green" onclick="wrmn.cron.toggleMenu('right');" ng-click="postBar()">
    <i class="large material-icons">note_add</i>
  </a>
  <ul>
    <!-- on the next button we need to pass the contact that has its checkbox selected -->
    <li><a class="btn-floating red" ng-click="multiDeleteRecord();"><i class="material-icons">cancel</i></a></li>
  </ul>
</div>

<div class="col s12">
  <div id="wmenu">
    <div id="right" ng-include="'views/_contact_info.html'"></div>
  </div>
</div>

<ng-include src="'views/_field_edit.html'"></ng-include>

<script>
  //This was in index.html but doesn't fire off unless you manually refresh the /contacts page
  $('select').ready(function() {
    setTimeout(function() {
      $('select').material_select();
    }, 100);
  });

  (function(){
    var slide_triggers = document.getElementsByClassName("slideout-trigger");
    for (var i=0; i < slide_triggers.length; i++) {
      slide_triggers[i].setAttribute("data-menuwidth", (window.innerWidth <= 992) ? (window.innerWidth * .80) : ((window.innerWidth - 100) * .75));
    }
  })();
  
  // enquiries 
  enquire.register("only screen and (min-width: 992px)", {
	  match: function(){
	    $('#right').ready(function()  {
        setTimeout(function() {
          wrmn.init(document.getElementById('wmenu'), {menu_width: document.body.offsetWidth * .7});
        }, 100);
      });
	  } // end match
  });
  // medium breakpoint "tablet"
  enquire.register("only screen and (max-width: 991px) and (min-width: 601px)", {
    match: function(){
    } // end match
  });
  // small breakpoiint, "phone"
  enquire.register("only screen and (max-width: 600px)", {
    match: function(){
      setTimeout(function() {
        wrmn.init(document.getElementById('wmenu'), {menu_width: document.body.offsetWidth});
      }, 0);
    } // end match
  });


  $("#checkAll").change(function () {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
  });

  document.addEventListener("touchstart", function(){}, true);
</script>
