<div id="login" class="modal">
	<div class="modal-content">
		<h4>Login</h4>
		<p>You must login.</p>
		<form class="row">
			<div class="input-field col s6">
				<input placeholder="" id="username" type="text" class="validtate" />
				<label for="username">Username</label>
			</div>
			
			<div class="input-field col s6">
				<input placeholder="" id="password" type="password" class="validtate" />
				<label for="password">Password</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<!-- 
			TBD: Make this login button 
				-actually attempt a login
				-create a 'loading' thingy that waits for success
			and open a 'success' modal when done
		-->
		
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
	</div>
</div>