<!doctype html>
<div id="login" class="modal">
	<div class="modal-content">
		<h4>Login</h4>
		<p>You must login.</p>
		<form class="row" id="login-form">
			<div class="input-field col s6">
				<input placeholder="" id="email" type="text" class="validtate" />
				<label for="email">Email</label>
			</div>

			<div class="input-field col s6">
				<input placeholder="" id="password" type="password" class="validtate" />
				<label for="password">Password</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<!--
			TBD: Make this login button
				-actually attempt a login
				-create a 'loading' thingy that waits for success
			and open a 'success' modal when done
		-->
		<a href="#!" ng-click="login()" class="modal-action waves-effect waves-green btn-flat">Login</a>
	</div>
</div>
