<!DOCTYPE HTML>
<div class="row card nogut z-depth-1">
  <!-- Color theme change section -->
  <div class="col s12" >
    <ul id="settings-color-theme" class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle" style="font-size: 2em;">palette</i>
        <span class="collection-header">Color Theme</span>
        <p>Change your color theme</p>
        <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
      </li>
      <br>
      <li class="collection-item">
        <div class="switch">
          <label>
            Light
            <input id="theme-toggle" type="checkbox" >
            <span class="lever"></span>
            Dark
          </label>
        </div>
      </li>
      <br>
      <li class="collection-item left-align">
        <button class="btn" type="submit" name="action" ng-click="saveTheme();">
          Save<i class="material-icons right">send</i>
        </button>
      </li>
    </ul>
  </div> <!-- End color theme form -->
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle" style="font-size: 2em;">contacts</i>
        <span class="collection-header">Import Contacts</span>
        <p>Upload a document with record data.</p>
        <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
      </li>
      <li class="collection-item">
        <blockquote>
          File should be in CSV format, values can be wrapped in single, double, or no quotes.
          The File should have a header with proper column headers. The column headers are simply the field labels, lowercase, and with any spaces replaced by an underscore.
          (e.g. the field 'First Name' would need a header in the csv like 'first_name')
        </blockquote>
      </li>
      <li class="collection-item">

        <form action="#">
          <div class="file-field" input-field>
            <div class="btn" style="cursor: pointer;">
              <span>CSV</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" on-read-file="parseCSVInput(contents);" placeholder="Upload A CSV" type="file">
            </div>
          </div>
        </form>
      </li>
      <li class="collection-item">
        <br>
      </li>
    </ul>
  </div>
</div>
