//sassy sass
@mixin theme($name, $primary-color-dark, $primary-color, $primary-color-light, $accent, $primary-text, $secondary-text, $divider){
  .#{$name} {
    body {
      background-color: $primary-color-dark;
      color: $primary-text;
    }

    main {
      background-color: $primary-color;
      color: $primary-text;
    }

    i {
      color: $accent;
    }

    .row {
      background-color: transparent;
      color: $primary-text;
    }

    .col {
      background-color: transparent;
      color: $primary-text;
      padding: .5em !important;
    }

    li {
      background-color: $primary-color;
      color: $primary-text;
    }

    ul {
      background-color: $primary-color;
    }
    //////////////////////////////////////////////////////////////////
    //Contacts/records page, bottom right buttons
    ////////////////////////////////////////////////////////////////
    .fixed-action-btn ul {
      background-color: transparent;
    }
    .fixed-action-btn li {
      background-color: transparent;
    }

    ////////////////////////////////////////////////
    //chips
    //////////////////////////////////////////////////
    .chip {
      margin: .1em;
      background-color: $accent;
      color: $primary-text;
    }

    .chip i {
      color: $primary-text;
    }

    .chips {
      border-bottom: 1px solid $accent;
      box-shadow: 0 1px 0 0 $accent;
    }

    .chips.focus {
      border-bottom: 1px solid $accent;
      box-shadow: 0 1px 0 0 $accent;
    }

    .chips .input {
      color: $secondary-text !important;
      margin-left: .6em;
    }

    input:not([type]):focus:not([readonly]) {
      color: $accent !important;
    }

    .chips ::-webkit-input-placeholder {
      color: $secondary-text;
    }

    .chips :-moz-placeholder { /* Firefox 18- */
      color: $secondary-text;
    }

    .chips ::-moz-placeholder {  /* Firefox 19+ */
      color: $secondary-text;
    }

    .chips :-ms-input-placeholder {
      color: $secondary-text;
    }

    ////////////////////////////////////////////
    //collapsible lists
    /////////////////////////////////////////////
    .collapsible {
      background-color: $primary-color-light;
      color: $primary-text;
    }

    /*
      * the little menu drop down on the contact list
    */
    .dropdown-content li > a, .dropdown-content li > span {
      color: $primary-text;
    }
    .dropdown-content li.active, .dropdown-content li.selected, .dropdown-content li:hover {
      background-color: rgba($primary-color-dark, .5);
    }
    ////////////////////////////////////////////
    //the links in our sidebar
    ///////////////////////////////////////////
    .side-nav.fixed a {
      color: $primary-text;
    }
    .side-nav.fixed a:active {
      background-color: darken($primary-color, 10%);
    }
    .side-nav a.btn-large:hover, .side-nav a.btn:hover {
      background-color: darken($accent, 10%);
      color: lighten($primary-text, 10%);
    }
    /////////////////////////////////////////////
    // Icons in sidebar
    ////////////////////////////////////////////
    .side-nav li > a > i, .side-nav li > a > i.material-icons {
      color: $accent;
    }
    ////////////////////////////////////
    // Form and Inputs
    ////////////////////////////////////
    input {
      margin-left: 0 !important;
      box-shadow: none;
    }

    .input-date {
      color: $secondary-text;
      border: 1px solid transparent;
      border-bottom: 1px solid $accent;
      box-shadow:0 1px 0 0 $accent;
      padding-left: .3em;
      cursor: default !important;
    }

    .input-date:hover {
      color: $secondary-text !important;
      border: 1px solid transparent !important;
      border-bottom: 1px solid $accent !important;
      box-shadow:0 1px 0 0 $accent !important;
      padding-left: .3em;
    }

    input[type=text] {
      color: $secondary-text;
      border-bottom: 1px solid $accent;
      box-shadow:0 1px 0 0 $accent;
      cursor: pointer;
      padding-left: .3em;
      -webkit-transition: border-bottom .35s; /* Safari */
      transition: border-bottom .35s !important;
      -webkit-transition: box-shadow .35s; /* Safari */
      transition: box-shadow .35s;
    }

    input[type=text]:hover{
      border-bottom: 1px solid lighten($primary-color, 5%);
      box-shadow: 0 1px 0 0 lighten($primary-color, 10%);
      -webkit-transition: border-bottom .35s; /* Safari */
      transition: border-bottom .35s !important;
      -webkit-transition: box-shadow .35s; /* Safari */
      transition: box-shadow .35s;
    }

    input[type=text]:focus:not([readonly]){
      color: $accent;
      border-bottom: 1px solid lighten($primary-color, 30%);
      box-shadow:0 1px 0 0 lighten($primary-color, 20%);
      -webkit-transition: border-bottom .35s; /* Safari */
      transition: border-bottom .35s !important;
      -webkit-transition: box-shadow .35s; /* Safari */
      transition: box-shadow .35s;
      cursor: auto;
    }

    input[type=text].validate+label {
      color: $secondary-text;
    }

    input[type=text]:focus:not([readonly]) + label {
      color: $accent;
      border-bottom:$accent;
    }

    input[type=password] {
      color: $secondary-text;
      border-bottom: $accent;
      box-shadow:0 1px 0 0 $accent;
    }

    input[type=password]:focus:not([readonly]){
      color: $accent;
      border-bottom: $accent;
      box-shadow:0 1px 0 0 $accent;
    }

    .input-field .prefix.active {
      color: $accent;
    }

    .input-field label {
      color: $secondary-text;
    }

    input[type=password]:focus:not([readonly]) + label {
      color: $accent;
      border-bottom: $accent;
    }

    .file-field input[type=file] {
      background-color: $primary-color-dark;
      color: $secondary-text;
      border-bottom: $accent;
      box-shadow:0 1px 0 0 $accent;
    }

    .file-field .btn {
      background-color: $accent;
      color: $primary-text;
    }
    .file-field .btn:hover {
      background-color: darken($accent, 10%);
      color: lighten($primary-text, 10%);
    }

    ul .collection {
      background-color: $primary-color;
    }

    .collection .collection-item {
      background-color: $primary-color;
      color: $primary-text;
    }

    .collection .collection-item label {
      color: $secondary-text;
    }
    [type=radio]:not(:checked)+label:before {
      border: 2px solid $accent;
    }
    [type=radio].with-gap:checked+label:after {
      border: 2px solid $accent;
      background-color: $accent;
    }
    [type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
      border: 2px solid $accent;
    }
    [type="checkbox"]:checked + label::before {
      border-right: 2px solid $accent;
      border-bottom: 2px solid $accent;
    }
    [type=checkbox]+label:before, [type=checkbox]:not(.filled-in)+label:after {
      border: 2px solid $primary-text;
    }
    // End Form and Inputs
    .btn {
      background-color: $accent;
      color: $primary-text;
    }

    .btn i {
      color: $secondary-text;
    }

    .btn:hover {
      background-color: darken($accent, 10%);
      color: lighten($primary-text, 10%);
    }

    .btn:hover i {
      color: lighten($secondary-text, 10%);
    }

    .btn-large {
      background-color: $accent;
      color: $primary-text;
    }

    .btn-large i {
      color: $secondary-text;
    }

    .btn-large:hover {
      background-color: darken($accent, 10%);
      color: lighten($primary-text, 10%);
    }

    .btn-large:hover i {
      color: lighten($secondary-text, 10%);
    }

    blockquote {
      border-left: 5px solid $divider;
      color: $secondary-text;
    }

    // charts on stats page
    svg {
      background-color: $primary-color-light;
    }
    // end charts

    // Modals
    .modal {
      background-color: $primary-color;
      color: $primary-text;
    }
    .modal .modal-content {
      background-color: $primary-color;
      color: $primary-text;
    }
    .modal .modal-footer {
      background-color: $primary-color-dark;
      color: $primary-text;
    }
    // end Modals

    // Tables
    table {
      color: $secondary-text;
    }

    thead {
      border-bottom: 1px solid $accent;
    }
    // end Tables

    // Option And Select
    .select-wrapper input.select-dropdown {
      border-bottom: 1px solid $accent;
    }
    .select-wrapper .dropdown-content li>span {
      color: $primary-text;
    }
    .select-wrapper .dropdown-content li:hover {
      background-color: $primary-color;
    }
    .select-wrapper .dropdown-content li.active.selected {
      background-color: $primary-color;
    }
    .select-wrapper .dropdown-content + select {
      background-color: $primary-color;
    }
    .select-wrapper input.select-dropdown {
      background-color: $primary-color-dark;
      margin: 0;
    }
    // end Option and Select

    //cards
    .card {
      background-color: $primary-color;
      color: $primary-text;
    }

    #contact-info-card {
      background-color: $primary-color;
    }

    //table rows
    table.striped>tbody>tr:nth-child(odd) {
      background-color: $primary-color;
      color: $primary-text;
    }
    table.striped>tbody>tr:nth-child(even) {
      color: $primary-text;
    }
  }
}
//White text on dark background -> primary 100% opacity, secondary 70%
//Dark text on light backgrounds -> primary 87% opacity, secondary 54%
//Light icons 100% opacity
//Dark icons 54% opacity


//name|primary-color-dark|primary-color|primary-color-light|accent|primary-text|secondary-text|divider
@include theme(red-theme, #323232, #B71C1C, #b71c1c, #eee, rgba(0, 0, 0, .87), rgba(0, 0, 0, .54), rgba(182, 182, 182, .54));

@include theme(blue-theme, #303f9f, #3F51B5, #C5CAE9, #ffc107, rgba(0, 0, 0, .87), rgba(0, 0, 0, .87), rgba(182, 182, 182, .54));

//@include theme(dark-theme, #17181C, #1F242A, #182939, rgba(183, 44, 44, .74), rgba(255, 255, 255, 1), rgba(255, 255, 255, .7), rgba(182, 182, 182, .54));
@include theme(dark-theme, #1F242A, #263238, #182939, #0288d1, rgba(#eceff1, .9), rgba(255, 255, 255, .7), rgba(182, 182, 182, .54));

//@include theme(light-theme, #bcbcbc, #eee, #fafafa, rgba(255, 82, 82, .84), rgba(0, 0, 0, .87), rgba(0, 0, 0, .54), rgba(182, 182, 182, .54));
@include theme(light-theme, #f5f5f5, #fafafa, #f5f5f5, #0288d1, rgba(0, 0, 0, .87), rgba(0, 0, 0, .54), rgba(182, 182, 182, .54));
